# Core Data Analysis
pandas
numpy

# Visualization
matplotlib
seaborn

# Modeling & Machine Learning
scikit-learn
xgboost

# Statistical Analysis
statsmodels
scipy

# Saving and Loading Models
joblib
flask
flask-cors

# En